{% extends "base.html" %} 
{% block navbar %}Agregar Certificado{% endblock %} 
{% block content %}
<div class="container">
    <div class="row">
		<div class="span12">
			<form class="form-horizontal" action='' method="POST">
                <div style="width: 40%;">
                    {{ form.hidden_tag() }}
                    <div class="control-group">
                        <label class="control-label" for="username">
                            {{ form.certificate_id.label }}
                        </label>
                        <div class="controls">
                            {{ form.certificate_id(class_="form-control") }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="password">
                            {{ form.certificate_password.label }}
                        </label>
                        <div class="controls">
                            {{ form.certificate_password(class_="form-control") }}
                        </div>
                    </div>
                    <div class="control-group" style="margin-top: 20px;">
                        {{ form.submit(class_="btn btn-primary") }}
                    </div>
                </div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
