{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
		<div class="span12">
			<form class="form-horizontal" action='' method="POST">
        <input type="hidden" id="id-session-certificate" value={{ certificate.certificate_id }}>
        <input type="hidden" id="id-session-pin" value={{ session['pin'] }}>
        <div style="width: 50%;">
          <h5>Seleccionar documentos a usar:</h5>
          <div id="checkbox-container">
            {% for template in templates %}
              {% if not template.is_signed %}
                <div class="form-check">
                  <input
                    class="form-check-input mt-0"
                    value="{{ template.id }}"
                    type="checkbox"
                  >
                  <span>Documento para firmar {{loop.index}}</span>
                </div>
              {% endif %}
            {% endfor %}
            <ul>
              {% for template in templates %}
                {% if template.is_signed %}
                  <li>
                    <span>Documento {{loop.index}} (Firmado)</span>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
        {% if not certificate %}
          <div
            role="alert"
            class="alert alert-danger col-4"
            id="message-not-found-certificate"
            style="margin-top: 1em;"
          >
            No se ha agregado ningún certificado.
          </div>
        {% endif %}
        <div class="control-group" style="margin-top: 20px;">
          <button
            type="button"
            class="btn btn-primary"
            onclick="signDocuments()"
          >
            Firmar
          </button>
        </div>
      </form>
    </div>

    <div
      tabindex="-1"
      aria-hidden="true"
      class="modal fade"
      id="certificate-modal"
      aria-labelledby="exampleModalLabel"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Agregar Certificado
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="id-certificate" class="col-form-label">Id de Certificado: </label>
                <input type="text" class="form-control" id="id-certificate">
              </div>
              <div class="mb-3">
                <label for="password-certificate" class="col-form-label">Contraseña de Certificado: </label>
                <input type="password" class="form-control" id="password-certificate">
              </div>
            </form>
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Cerrar
            </button>
            <button
              type="button"
              class="btn btn-primary"
              id="send-certificate-data"
            >
              Guardar
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
      tabindex="-1"
      aria-hidden="true"
      class="modal fade"
      id="pin-modal"
      aria-labelledby="exampleModalLabel2"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel2">
              Agregar Pin
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close">
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="id-pin" class="col-form-label">Pin: </label>
                <input type="password" class="form-control" id="id-pin">
              </div>
            </form>
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Cerrar
            </button>
            <button
              type="button"
              id="send-pin-data"
              class="btn btn-primary"
            >
              Guardar
            </button>
          </div>
        </div>
      </div>
    </div>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script>
  function signDocuments() {
    const idSessionPin = $("#id-pin").val();
    const idSessionCertificate = $("#id-session-certificate").val();
    if (!idSessionCertificate) {
      return;
    }
    if (!idSessionPin) {
      const modalFormPin = new bootstrap.Modal('#pin-modal');
      modalFormPin.show();
    } else {
      event.preventDefault();
      var selectedDocuments = [];
      $('#checkbox-container input:checked').each(function() {
        selectedDocuments.push($(this).attr('value'));
      });
      const formData = { 
        documentIds: selectedDocuments,
        pin: $("#id-pin").val(),
      };
      $.ajax({
        type: "POST",
        dataType: "json",
        url: "/add-files",
        data: JSON.stringify(formData),
        contentType: "application/json; charset=utf-8",
        success: function(data){
          console.log("data: ", data);
        },
        error: function(error){
          setTimeout(function(){
            window.location.reload();
          }, 6000);
        }
      });
    }
  };
  $(document).ready(function() {
    $("#send-certificate-data").on("click", function() {
      event.preventDefault();
      const formData = {
        certificateId: $("#id-certificate").val(),
        certificatePassword: $("#password-certificate").val(),
      };
      $.ajax({
        type: "POST",
        dataType: "json",
        url: "/add-certificate",
        data: JSON.stringify(formData),
        contentType: "application/json; charset=utf-8",
        success: function(data){
          window.location.reload();
        },
        error: function(error){
          window.location.reload();
        }
      });
    });
    $("#send-pin-data").on("click", function() {
      $("#pin-modal").modal("hide");
    });
  })
</script>
{% endblock %}
