<!DOCTYPE>
<html lang="es">
  <head>
    {% block head %}
      <!-- Required meta tags -->
      <meta charset="utf-8" />
      <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
      />

      {% block styles %}
      <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
      {% endblock %}

      <title>
        {% block title %} Proceso para carga de documento {% endblock %}
      </title>
    {% endblock %}
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-light bg-light"
      style="padding: 1em 20em; display: flex; justify-content: space-between"
    >
      <div>
        <a class="navbar-brand"> {% block navbar %}{% endblock %} </a>
      </div>
      <div>
        {% if current_user.is_authenticated %}
          <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
              Hola, {{ current_user.first_name }} {{ current_user.last_name }}
            </button>
            <ul class="dropdown-menu">
              {% if certificate %}
                <li>
                  <a
                    class="dropdown-item"
                    style="cursor: pointer;"
                    id="delete-certificate"
                  >
                    Borrar Certificado
                  </a>
                </li>
              {% endif %}
              <li>
                <a
                  class="dropdown-item"
                  style="cursor: pointer;"
                  id="logout">
                  Cerrar Sesión
                </a>
              </li>
            </ul>
          </div>
        {% endif %}
      </div>
    </nav>

    <!-- Your page content -->
    <div style="padding: 1em 20em">{% block content %}{% endblock %}</div>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        $("#logout").on("click", function (e) {
          e.preventDefault();
          var url = "/logout";
          $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
              return (window.location.href = "/");
            },
          });
        });
        $("#delete-certificate").on("click", function (e) {
          event.preventDefault();
          $.ajax({
            type: "GET",
            url: "/delete-certificate",
            success: function(data){
              window.location.reload();
            },
            error: function(error){
              window.location.reload();
            }
          });
        });
        $("#refresh-page").on("click", function (e) {
          window.location.reload();
        });
      });
    </script>
    {% block scripts %}{% endblock %}
  </body>
</html>
