{% extends "base.html" %} 
{% block navbar %} Iniciar Sesión {% endblock %} 
{% block content %}
<div class="container">
  <div class="row">
		<div class="col-4">
			<form class="form-horizontal" action='' method="POST">
        <div class="col-sm">
          {{ form.hidden_tag() }}
          <div class="control-group">
            <label class="control-label" for="username">
                {{ form.username.label }}
            </label>
            <div class="controls">
                {{ form.username(class_="form-control") }}
            </div>
          </div>
          <div class="control-group mt-3">
            <label class="control-label" for="password">
              {{ form.password.label }}
            </label>
            <div class="controls">
              {{ form.password(class_="form-control") }}
            </div>
          </div>
          <div class="control-group" style="margin-top: 20px;">
            {{ form.submit(class_="btn btn-primary") }}
          </div>
          <div style="margin: 25px;">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-success" role="alert">
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
          </div>
          <div style="margin: 25px;">
            {% if error %}
              <div class="alert alert-danger" role="alert">
                {{ error }}
              </div>
            {% endif %}
          </div>
        </div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
