{% extends "base.html" %}
{% block navbar %} {% endblock %}
{% block content %}
<div class="container">
  <div class="row">
		<div class="span12 mt-5">
      <fieldset>
        <div style="display: flex; ">
          <legend style="margin-right: 60px;">Archivos Firmados</legend>
        </div>
        <div>
          <ul>
            {% for document in documents %}
              <li>
                <a target="_blank" href="/signed-file/{{document.id}}">
                  {{ document.document_name }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="control-group" style="margin-top: 20px;">
          <button
            type="button"
            id="refresh-page"
            class="btn btn btn-primary"
          >
            Actualizar
          </button>
        </div>
      </fieldset>
		</div>
	</div>
</div>
{% endblock %}
