{% extends "bootstrap/base.html" %}
{% block title %}Proceso para carga de documento{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('#logout').on('click', function(e) {
            e.preventDefault();
            var url = "/logout";
            $.ajax({
                type: "GET",
                url: url,
                success: function(data) {
                   return window.location.href = "/";
                }
            });
        });
        $('#clean-certificates').on('click', function(e) {
            e.preventDefault();
            var url = "/clean-certificates";
            $.ajax({
                type: "GET",
                url: url,
                success: function(data) {
                   return window.location.href = "/add-certificate";
                }
            });
        });
        $('#refresh-page').on('click', function(e) {
            window.location.reload();
        });
    });
</script>
{% endblock %}
